*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.picture{
    position: absolute;
    height: 100vh;
    z-index: -1;
    width: 64.59%;
}

/*

Main container section

*/

.content-container {
    float: left;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    width: 35.41%;
    height: 100vh;
}

/*

Top bar section (logo + links)

*/

.top-bar {
    height: 3.70%;
    position: relative;
    justify-content: space-between;
    padding-left: 14.70%;
    padding-right: 14.70%;
    padding-top: 9.26%;
    height: 40px;
}

.logo-wrapper {
    position: absolute;
}

.top-bar img {
    min-width: 25px;
    min-height: 40px;
    
}

.logo-name {
    margin-left: 40px;
    margin-top: -25px; 
}

.top-bar a {
    padding-top: 20px;
    justify-content: flex-end;
    list-style-type: none;
    white-space: nowrap;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 8.41%;
    color: #6A707B;
}
.links {
    position: absolute;
    right: 0px;
    width: 60%;
    padding-top: 20px;
}

a:link{
    text-decoration: none;
}

/*

Main content section (headings)

*/


.headings {
    margin-top: 34.63%;
    padding-left: 20.58%;
    padding-right: 20.58%;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #131821;
}

.subheading {
    margin-top: 15px;
    min-width: 58.8%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}

/*

Form container section

*/


.form-container {
    margin-top: 4.63%;
}

.email {
    display: flex;
    width: 100%;
}

.submit-button{
    min-width: 12.20%;
    margin-left: -12.20%;
    z-index: 1;
    background-image: url(../img/ic_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 14px;
    border:none;
    overflow: hidden;
    background-color: transparent;
}

.email-input-field {
    position: relative;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #E3E3E4;
    min-width: 97.5%;
    margin-left: 14.70%;
    border-left: 4px solid #4066A5;
}

.email-input-field, textarea {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 44px;
}

.error {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 14.70%;
    margin-right: 14.70%;
    display: block;
    color: red;
}

.checkboxInput {
    padding-top: 53px;
    padding-left: 20.58%;
}

.checkboxInput input{
   height: 26px;
   width: 26px;
   display: inline-block;
}

.checkbox-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    padding-left: 15px;
    padding-bottom: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #6A707B;
}

.tos {
    color: #131821;
}

hr {
    display: block;
    width: 58.82%;
    margin-left: 20.58% !important;
    height: 1px;
    border: none;
    margin-top: 50px;
    background-color: #E3E3E4;
}

/*

Social icon section

*/

.social-tab {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.social-tab a~a {
    margin-left: 20px;
}

.fa-facebook {
    color:#131821;
    opacity: 0.3;
    
}

.fa-instagram {
    color:#131821;
    opacity: 0.3;
}

.fa-twitter {
    color:#131821;
    opacity: 0.3;
}

.fa-youtube {
    color:#131821;
    opacity: 0.3;
}

.fa {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px !important;
  }

/*

Hover/Focus element section

*/

.fa-facebook:hover {
    border: none;
    color: #FFFFFF;
    opacity: 1;
    background: #4267B2;
}

.fa-instagram:hover {
    border: none;
    color: #FFFFFF;
    opacity: 1;
    background: #C13584;
}

.fa-twitter:hover {
    border: none;
    color: #FFFFFF;
    opacity: 1;
    background: #1DA1F2;
}

.fa-youtube:hover {
    border: none;
    color: #FFFFFF;
    opacity: 1;
    background: #FF0000;
}

.fa-facebook:active {
    background: #2F4A80;
}

.fa-instagram:active {
    background: #8F2762;
}

.fa-twitter:active {   
    background: #177FBF;
}

.fa-youtube:active {
    background: #CC0000;
}

.tos:hover {
    color: #4066A5;
}

.tos:active {
    color: #233759;
}

/*

Removes logo @media size

*/

@media screen and (max-width: 1200px) {
    .logo-name {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .top-bar a {
        white-space: normal;
    }
}

/*

Mobile/Tablet size views

*/

@media screen and (min-width: 300px) and (max-width: 769px) {
    * {
        box-sizing: unset;
    }
    .bg{
        /* The image used */
        background-image: url(../img/image_summer.png);        
        /* Full height */
        height: 100vh;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .picture {
        display: none;
    }
        
    .content {
        top: 20%;
        background-color: white;
        margin-right: 4.46%;
        margin-left: 4.46%;
    }

    /*

    Top bar section (logo + links)

    */

    .top-bar {
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
        height: 66px;
        background-color: #FFFFFF;
    }

    .top-bar a {
        font-size: 14px;
        margin-left: 0px;
        padding-left: 20px;
    }

    .content-container{
        float: none;
        width: 100%;
    }

    .links {
        width: max-content;
        padding-right: 20px;
    }

    .logo {
        margin-top: 10px;
        width: 25px;
        height: 40px;
    }

    /*

    Heading section

    */

    .headings {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #131821;
    }
    .subheading {
        margin-top: 10px;
        min-width: 58.8%;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #6A707B;
    }

    /* 
    
    Form section

    */

    .form-container {
        margin-top: 20px;
    }
    
    .email {
        margin-right: 20px;
        width: auto;
    }

    .submit-button{
        width: 30px;
    }
    .email-input-field {
        margin-left: 20px;
    }
    
    .email-input-field, textarea {
        padding-left: 19px;
    }
    .error {
        margin-left: 20px;
        margin-right: 14.70%;
    }
    
    .checkboxInput {
        padding-top: 20px;
        padding-left: 20px;
    }

    hr {
        width: inherit;
        margin-top: 20px;
        margin-left: 20px !important;
        margin-right: 20px !important;
        top: 20px;
    }

    /* 
    
    Social icon section

    */

    .social-tab {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .social-tab a~a {
        margin-left: 10px;
    }
  }


/* 

Style for success page

*/

.success{
    margin-left: 20.59%;
    margin-right: 20.59%;
    margin-top: 24.91%;
}

.logo-success {
    height: 70px;
    width: 44px;
    display: block;
}

.headings-success{
    margin-top: 40px;
    
}

@media screen and (min-width: 300px) and (max-width: 769px) {


    .success{
        margin-left: 20px;
        margin-right: 20px;  
        display: block;
        box-sizing: border-box;
    }
    
    .logo-success {
       padding-top: 30px;
    }
    
    .headings-success{
        padding-top: 39px;
    }

    .headings-success h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #131821;
    }
    
    .headings-success .subheading {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #6A707B;
        padding-bottom: 29px;
    }
}